/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.description 
{
    font-size: .75rem;
    text-align:center;
}

.Name
{
    font-weight: bold;
}


#filters 
{
    display: flex;
    flex-direction: row; 
    padding: 2px;   
    text-align:center;
    margin: 10px;
    justify-content: space-between;
}

#type
{
    font-size: 1.5rem;
}
#search 
{
    text-align: center;
    margin: 10px;
}

#filters input[type=number]
{
    width: 5rem;
}

#numberBox
{
    font-size: 1rem;
}

.flavor-list
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid darkred;
}

.Combo 
{
    border-top: 2px solid darkred;
}

.Menu-List 
{
    list-style-type: none;
    border-top: 1px solid green;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.List 
{
    padding: 0;
    margin: 0;
    border-top: 1px solid grey;
    flex:1;
}

.Menu-Type
{
    text-align: center;
}

.List > li
{
    list-style-type: none;
    border-top: 1px solid lightgray;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.Calories 
{
   font-weight: bold;
}
.Price
{
    color: black;
    border: 1px solid black;
    width: 50px;
    text-align: center;
    font-weight: bold;
}

.container
{
    margin: 10;
    padding: 0;
}


@media (max-width: 490px)
{
    .Menu-List
    {
        flex-direction: column;
    }
}




















a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
